<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "passage-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label f, :text %>
  <%= textarea f, :text %>
  <%= error_tag f, :text %>

  <%= label f, :steps %>
  <%= number_input f, :steps %>
  <%= error_tag f, :steps %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
